.change_password {
  background-color: #fff;
  padding: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.changecolor {
  color: red;
}

.title_changepassword {
  font-size: 25px;
  font-weight: 550;
  color: #253d4e;
  margin-top: 20px;
}

.link_home_news {
  margin-top: 10px;
}

.list_link {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.list_link > li > a {
  color: #585757;
  text-decoration: none;
  font-size: 18px;
}

.submit_button:hover {
  background-color: #2a9d5a;
}
