.update_information {
    background-color: #fff;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    display: flex;
    gap:30px;
}

.information {
    width: 60%;
}

.title_information {
    font-size: 25px;
    color:#253D4E;
    font-weight: 550;
}

.fullname_input {
    margin-top: 50px;
    display: flex;
    gap:69px;
    align-items: center;
}

.ip_fullname {
    width: 500px;
    height: 35px;
    border:1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5px;
}

.email_input {
    margin-top: 32px;
    display: flex;
    gap:76px;
    align-items: center;
}

.ip_email {
    width: 500px;
    height: 35px;
    border:1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5px;
}

.phone_input {
    margin-top: 32px;
    display: flex;
    gap:23px;
    align-items: center;
}

.ip_phone {
    width: 500px;
    height: 35px;
    border:1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5px;
}

.birthday_input {
    margin-top: 32px;
    display: flex;
    gap:48px;
    align-items: center;
}

.ip_birthday {
    width: 500px;
    height: 35px;
    border:1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5px;
}

.red {
    color:red;
}

.update {
    background-color: #3BB77E;
    border-radius: 5px;
    padding: 10px;
    color:#fff;
    border: none;
    margin-top: 25px;
    cursor: pointer;
    font-weight: 550;
}

.upload_img {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.upload_img i {
    font-size: 300px;
    color:#9A9A9A;
    margin-top: 30px;
    margin-left: 60px;
}

.upload_file {
    width: 100px;
    padding: 10px;
    background-color: #D2D2D2;
    border-radius: 5px;
    border: none;
    font-weight: 550;
    margin-left: 160px;
    cursor: pointer;
}