.product_wishlist {
  margin: 15px 0;
  border-radius: 5px;
  background-color: #fff;
}

.title_wishlist {
  text-align: center;
}

.item_product {
  border: 1px solid #d4cdcd;
}

.btn_addcart {
  border: 1px solid #3bb77e;
  padding: 10px;
  color: #3bb77e;
  background-color: #def9ec;
  border-radius: 5px;
  font-weight: 550;
}

/* Product Empty */

.product_empty {
  background-color: #fff;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
}

.title_wishlist_empty {
  font-size: 25px;
  color: #253d4e;
  font-weight: 550;
  text-align: center;
}

.product_cartempty {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.product_cartempty i {
  font-size: 150px;
  color: #c6c4c4;
}

.btn_continuewbuy {
  background-color: #3bb77e;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 5px;
  border: none;
  font-size: 20px;
}
