/* Flex CountDown Content */
.Flex-Content_CountDown {
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.FlashSale {
  border-left: 4px solid #3bb77e;
  padding-left: 10px;
  font-size: 30px;
}

.Product_FLashSale {
  display: flex;
  width: max-content;
  gap: 10px;
}

/* Card */

.card {
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  max-width: 200px;
  display: inline-block;
  height: 360px;
}

.card:hover {
  border: 1px solid #3bb77e;
}

.card-image {
  max-width: 100%;
  object-fit: cover;
  height: 160px;
  margin-left: 10px;
}

.card-content {
  color: #8e8e8e;
  padding-top: 10px;
  font-size: 13px;
}

.card-description {
  color: #8e8e8e;
  font-size: 13px;
}

.card-name {
  font-weight: 550;
  font-size: 15px;
  color: #253d4e;
  padding: 10px;
}

.card-price {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.old-price {
  text-decoration: line-through;
  padding-bottom: 10px;
}

.card-button {
  border: none;
  background-color: #3bb77e;
  padding: 6px;
  border-radius: 5px;
  height: 30px;
  width: 100%;
}

.card-button a {
  color: #fff;
  text-decoration: none;
  font-weight: 550;
}

.card-button:hover {
  background-color: #29a56c;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.list-product {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 220px);
}
