.countdown-timer {
    text-align: center;
  }
  
  .timer {
    display: flex;
    gap: 5px;
  }
  
  .time-box {
    background-color: #3bb77e;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    width: 45px;
    text-align: center;
    font-weight: bold;
  }
  
  .doubledot {
    margin-top: 5px;
    color:#000;
    font-weight: 550;
  }