
/* Footer */
.list_footer {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
  }
  .ft-1 .Link img {
    max-width: 300px;
    object-fit: cover;
  }
  
  .ft-1 .Link {
    text-decoration: none;
  }
  .ft-2 .Link {
    text-decoration: none;
  }
  
  .footer1 {
    display: flex;
    flex-direction: column;
    gap: 16.3px;
    width: 300px;
  }
  
  .footer-content {
    color: #253d4e;
    font-weight: 600;
    font-size: 15px;
  }
  
  .footer-content span {
    color: #3bb77e;
    font-weight: 700;
    font-size: 15px;
  }
  
  .footer-address {
    color: #253d4e;
    font-size: 15px;
  }
  
  .footer-hotline {
    font-size: 15px;
    color: #253d4e;
    font-weight: 600;
  }
  
  .footer-hotline span {
    color: #3bb77e;
    font-weight: 700;
    font-size: 15px;
  }
  
  .footer-email {
    color: #253d4e;
    font-size: 15px;
    font-weight: 600;
  }
  
  .footer-email span {
    color: #3bb77e;
    font-weight: 700;
    font-size: 15px;
  }
  
  .footer-opendoor {
    color: #253d4e;
    font-weight: 600;
    font-size: 15px;
  }
  
  /* Footer2 */
  
  .footer2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 5px;
  }
  
  .footer-item {
    color: #7e7e7e;
  }
  
  .footer-item:hover {
    color: #253d4e;
  }
  
  .footer-company {
    color: #253d4e;
    font-weight: 700;
  }
  
  .media-social {
    display: flex;
    gap: 10px;
  }
  
  .gg-play {
    max-width: 150px;
    object-fit: cover;
  }
  
  .gg-play:hover {
    transform: scale(1.1);
    z-index: 1;
    transition: all 0.5s ease-in-out;
  }
  
  .app-store {
    max-width: 150px;
    object-fit: cover;
  }
  
  .app-store:hover {
    transform: scale(1.1);
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }
  
  .copyright {
    color: #7e7e7e;
    text-align: center;
    padding: 10px;
    font-size: 20px;
  }
  
  .copyright:hover {
    color: #253d4e;
  }
  