html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header_top > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.input_search input {
  width: 450px;
  height: 30px;
  border: 1px solid #3bb77e;
  padding: 16px;
  border-radius: 5px 0px 0px 5px;
}

.input_search button {
  background-color: #3bb77e;
  color: white;
  border: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  height: 34px;
}

.icon span .a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
}

.icon span .a i {
  font-size: 20px;
  color: #000;
}

.icon {
  display: flex;
  gap: 15px;
}

.listNavbar {
  list-style: none;
  padding: 0;
  text-align: center;
}

.listNavbar li {
  display: inline-block;
  margin-right: 20px;
}

.listNavbar li a {
  text-decoration: none;
  font-size: 18px;
  color: black; /* Màu mặc định */
}

.listNavbar li.active a {
  color: #3bb77e;
  font-weight: 600; /* Màu chữ khi trang đó đang active */
}
/* Banner */

.bg .Link > img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 10px;
  position: relative;
  padding: 15px;
}

.category_content {
  border-left: 4px solid #3bb77e;
  padding-left: 10px;
  font-size: 30px;
}

/* Main Category */

.list_category li .a {
  text-decoration: none;
  
}

.list_category li .a h3 {
  color: #253d4e;
  font-size: 20px;
  padding: 5px;
}

/* styles.css */
.list_category {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: auto;
  scrollbar-color: transparent transparent;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-select: none;
  cursor: grab;
  padding: 15px;
}

.list_category::-webkit-scrollbar {
  width: 0;
}

.list_category.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.list_category li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 150px; /* Điều chỉnh chiều rộng tối thiểu */
  margin-right: 10px;
  text-align: center;
  user-select: none;
  scroll-snap-align: start;
  list-style: none;
}

.list_category img {
  width: 80px; /* Điều chỉnh kích thước ảnh */
  height: auto; /* Điều chỉnh kích thước ảnh */
  object-fit: cover;
  /* margin-bottom: 10px;  */
}

.list_category h3 {
  font-size: 16px; /* Điều chỉnh kích thước chữ */
  margin: 0;
}

/* Flex CountDown Content */
.Flex-Content_CountDown {
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap:10px;
}

.FlashSale {
  border-left: 4px solid #3bb77e;
  padding-left: 10px;
  font-size: 30px;
}

.Product_FLashSale {
  display: flex;
  width: max-content;

}

/* BannerDown */

.banner-down {
  margin: 10px;
}
.banner-down > .Link > img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  position: relative;
}

/*Banner FlashSale  */
.banner-bestseller .Link > img {
  max-width: 400px;
  height: 350px;
  border-radius: 10px;
  margin: 10px;
}

/* Card */

.card {
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  max-width: 200px;
  display: inline-block;
  height: 360px;
}

.card:hover {
  border: 1px solid #3bb77e;
}

.card-image {
  max-width: 100%;
  object-fit: cover;
  height: 160px;
  margin-left: 10px;
}

.card-content {
  color: #8e8e8e;
  padding-top: 10px;
  font-size: 13px;
}

.card-description {
  color: #8e8e8e;
  font-size: 13px;
}

.card-name {
  font-weight: 550;
  font-size: 15px;
  color: #253d4e;
  padding: 10px;
}

.card-price {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.old-price {
  text-decoration: line-through;
  padding-bottom: 10px;
}

.card-button {
  border: none;
  background-color: #3bb77e;
  padding: 6px;
  border-radius: 5px;
  height: 30px;
  width: 100%;
}

.card-button  {
  color: #fff;
  text-decoration: none;
  font-weight: 550;
}

.card-button:hover {
  background-color: #29a56c;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

/* Card Popular */

.CardPopular {
  border-left: 4px solid #3bb77e;
  padding-left: 10px;
  font-size: 30px;
}

.list-product {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 220px);
}

/* Footer */
.list_footer {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}
.ft-1 .Link img {
  max-width: 300px;
  object-fit: cover;
}

.ft-1 .Link {
  text-decoration: none;
}
.ft-2 .Link {
  text-decoration: none;
}

.footer1 {
  display: flex;
  flex-direction: column;
  gap: 16.3px;
  width: 300px;
}

.footer-content {
  color: #253d4e;
  font-weight: 600;
  font-size: 15px;
}

.footer-content span {
  color: #3bb77e;
  font-weight: 700;
  font-size: 15px;
}

.footer-address {
  color: #253d4e;
  font-size: 15px;
}

.footer-hotline {
  font-size: 15px;
  color: #253d4e;
  font-weight: 600;
}

.footer-hotline span {
  color: #3bb77e;
  font-weight: 700;
  font-size: 15px;
}

.footer-email {
  color: #253d4e;
  font-size: 15px;
  font-weight: 600;
}

.footer-email span {
  color: #3bb77e;
  font-weight: 700;
  font-size: 15px;
}

.footer-opendoor {
  color: #253d4e;
  font-weight: 600;
  font-size: 15px;
}

/* Footer2 */

.footer2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 5px;
}

.footer-item {
  color: #7e7e7e;
}

.footer-item:hover {
  color: #253d4e;
}

.footer-company {
  color: #253d4e;
  font-weight: 700;
}

.media-social {
  display: flex;
  gap: 10px;
}

.gg-play {
  max-width: 150px;
  object-fit: cover;
}

.gg-play:hover {
  transform: scale(1.1);
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.app-store {
  max-width: 150px;
  object-fit: cover;
}

.app-store:hover {
  transform: scale(1.1);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.copyright {
  color: #7e7e7e;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.copyright:hover {
  color: #253d4e;
}
