* {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header_top > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.input_search input {
  width: 450px;
  height: 30px;
  border: 1px solid #3bb77e;
  padding: 16px;
  border-radius: 5px 0px 0px 5px;
}

.input_search button {
  background-color: #3bb77e;
  color: white;
  border: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  height: 34px;
}

.icon span .a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
}

.icon span .a i {
  font-size: 20px;
  color: #000;
}

.icon {
  display: flex;
  gap: 15px;
}

.listNavbar {
  list-style: none;
  padding: 0;
  text-align: center;
}

.listNavbar li {
  display: inline-block;
  margin-right: 20px;
}

.listNavbar li a {
  text-decoration: none;
  font-size: 18px;
  color: black; /* Màu mặc định */
}

.listNavbar li.active a {
  color: #3bb77e;
  font-weight: 600; /* Màu chữ khi trang đó đang active */
}
/* Banner */

.bg .Link > img {
  object-fit: cover;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  position: relative;
}

.category_content {
  border-left: 4px solid #3bb77e;
  padding-left: 10px;
  font-size: 30px;
}