.update_information {
  background-color: #fff;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  display: flex;
  gap: 30px;
}

.title_information {
  font-size: 25px;
  color: #253d4e;
  font-weight: 550;
}

.red {
  color: red;
}

.update {
  background-color: #3bb77e;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  border: none;
  margin-top: 25px;
  cursor: pointer;
  font-weight: 550;
}
