.list-voucher {
  flex-wrap: wrap;
  gap: 20px;
  .voucher-item {
    width: 620px;
    height: 140px;
    background-color: red;
    position: relative;
    overflow-x: hidden;
    border-radius: 10px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-50%, -50%);
      background-color: #f1f1f1;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(50%, -50%);
      background-color: #f1f1f1;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .voucher-item-top {
      height: 50%;
      background: transparent
        linear-gradient(47deg, #2b67d5 0%, #248ce1 50%, #1bb4ee 100%);
      border-bottom: 1px dashed #ddd;
      display: flex;
      .info-left {
        width: 60%;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-right: 1px dashed #ddd;
        padding: 0 20px;
        p {
          margin-bottom: 0;
          color: #fff;
          font-size: 14px;
          line-height: 20px;
        }
      }
      .info-right {
        width: 40%;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 20px;
        color: #fff;
        font-size: 14px;
      }
    }
    .voucher-item-bottom {
      height: 50%;
      background: transparent
        linear-gradient(89deg, #dceefc 0%, #f7f9f8 50%, #f7f9f8 100%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      .button-copy {
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 7px 15px;
        font-size: 14px;
        cursor: pointer;
        color: #fff;
        background: transparent
          linear-gradient(47deg, #2b67d5 0%, #248ce1 50%, #1bb4ee 100%);
        &:hover {
          background-color: #248ce1;
        }
      }
    }
  }

  @media (max-width:1028px) {

    .voucher-item{
      width: 100%;
    }
  }
}

.flash-sale {
  background-color: #fed070;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
    font-size: 32px;
    color: #d10a00;
    font-weight: bold;
  }
  .time {
    display: flex;
    gap: 10px;
    .detail-time {
      width: 62px;
      height: 52px;
      border-radius: 10px;
      background-color: #3bb77e;
      position: relative;
      color: #fff;
      font-size: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:last-child) {
        &::after {
          content: ":";
          position: absolute;
          top: 50%;
          right: -25%;
          transform: translate(-0%, -50%);
          display: block;
          background-color: transparent;
          font-size: 30px;
          font-weight: 900;
          width: 15px;
          color: #3bb77e;
        }
      }
    }
  }
}

.list-product {
  margin-top: 5px;
  flex-wrap: wrap;

  .product-item {
    // height: 376px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    gap: 7px;
    .product-image {
      width: 100%;
      // height: 200px;
      object-fit: cover;
    }
    .content-product {
      h3 {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Hiển thị tối đa 2 dòng */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        font-weight: bold;
        line-height: 1.1;
        max-height: calc(1.4em * 2);
      }
    }
    .unit {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.56);
    }
    .price {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
      .original-price {
        font-size: 20px;
        font-weight: bold;
        color: #3bb77e;
      }
      .price-reduction {
        color: #818181;
        font-weight: 500;
        font-size: 14px;
        text-decoration: line-through;
      }
    }
    .btn {
      outline: none;
      border-radius: 7px;
      height: 36px;
      border: 1px solid #3bb77e;
      color: #3bb77e;
      background-color: transparent;
      font-weight: bold;
      font-size: 15px;
      span {
        margin-right: 10px;
      }
    }
  }
  @media (min-width: 1000) {
  }
}
.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}
.gap {
  margin-top: 20px;
  margin-bottom: 20px;
}
