.mobile-size-menu{
  background-color: #fff;
  overflow-y: scroll ;
  width: 33rem;
  animation: showSibar 0.2s ease-in-out forwards;
}

.mobile-size-menu::-webkit-scrollbar {
  width: 3px; /* Chiều rộng của thanh cuộn dọc */
  height: 12px; /* Chiều cao của thanh cuộn ngang */
}

/* Tùy chỉnh thanh trượt (thumb) */
.mobile-size-menu::-webkit-scrollbar-thumb {
  background-color: #888; /* Màu của thanh trượt */
  border-radius: 10px; /* Bo góc của thanh trượt */
  border: 3px solid transparent; /* Khoảng trống xung quanh thanh trượt */
}

/* Tùy chỉnh khu vực theo dõi (track) */
.mobile-size-menu::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Màu nền của khu vực cuộn */
  border-radius: 10px; /* Bo góc của track */
}

.wrapper{
  background-color: rgba(0, 0, 0, 0.4);
}
.content{

}

.content .close{
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
  color: #333;
}

.input-search{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  
}
.content .box-rearch .btn-search{
  background-color: #3bb77e;
  color: #fff;
  
}

.content .menu-header-mobile>li:hover{
  color: #3bb77e;
  
}

.content .menu-header-mobile li:not(:last-child){
  border-bottom: 1px solid rgba(134, 134, 134, 0.1);
  margin-bottom: 10px ;
  
}

/*  */

.content .menu-header-mobile li .menu-child {
  max-height: 0; /* Khởi tạo chiều cao là 0 */
  overflow: hidden; /* Ẩn nội dung khi không mở */
  transition: max-height 0.5s ease-in-out; /* Thêm hiệu ứng chuyển tiếp */
}

.content .menu-header-mobile li .menu-child li {
  padding: 7px 0; /* Đặt khoảng cách giữa các mục menu con */
  color: #333;
}
.content .menu-header-mobile li .menu-child li:hover {
 color: #3bb77e;
}

.content .menu-header-mobile li:hover .menu-child {
  max-height: 200px; /* Chiều cao tối đa khi mở (thay đổi tùy theo nội dung) */
}

.content .description{
  font-size: 0.8rem;
  color: #cfcfcf;
}


.content .box-social .social-item .box-icon{
  background: var(--primary-color);
  border-radius: 5px;
}


.content .box-social .social-item .box-icon .icon{
color: #3bb77e;
}
.content .box-social .social-item .info{
  
  color: #333;
}

.social{
margin-top: 20px;
}

.social .social-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  /* background: var(--primary-color); */
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 3px;
  background-color: #3bb77e;
  border:1px solid #3bb77e;
}
.social .social-item .icon{
color: #fff;
}

.social .social-item:hover{
  background-color: #fff;
  



}

.social .social-item:hover .icon{
  color: #3bb77e;

}


@keyframes DropDown{
  0%{
    height: 0;
      opacity: 0;
    /* transform: translateY(-50%); */
  }
  100%{
    height: auto;
    opacity: 1;

    /* transform: translateY(0); */

  }
}

@keyframes showSibar{
  0%{
   left: -100%;
    /* transform: translateY(-50%); */
  }
  100%{
    left: 0;

    /* transform: translateY(0); */

  }
}

.primary-color{
  color:#3bb77e !important;
}

