.change_password {
    max-width: 700px;
    background-color: #fff;
    padding: 25px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.changecolor {
    color:red;
}

.title_changepassword {
    font-size: 25px;
    font-weight: 550;
    color:#253D4E;
    margin-top: 20px;
}

.now_pasword {
    display: flex;
    gap:50px;
    align-items: center;
    margin-top: 20px;
}

.ip_now_password {
    width: 430px;
    height: 35px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}
.new_password {
    display: flex;
    gap:75px;
    align-items: center;
    margin-top: 20px;
}

.ip_new_password {
    width: 430px;
    height: 35px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}
.enter_new_password {
    display: flex;
    gap:33px;
    align-items: center;
    margin-top: 20px;
}

.ip_enter_new_password {
    width: 430px;
    height: 35px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.password_input_wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .eye_icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  
  .ip_now_password, .ip_new_password, .ip_enter_new_password {
    width: 430px;
    height: 35px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding-right: 35px; /* Đảm bảo không che khuất icon */
  }

  /*  */
  .link_home_news {
    margin-top: 10px;
  }
  
  .list_link {
    display: flex;
    justify-content: left;
    gap: 10px;
  }
  
  .list_link > li > a {
    color: #585757;
    text-decoration: none;
    font-size: 18px;
  }
  