/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/cart/cart.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.cart_page-cart__p1pfc {
  width: 100%;
  margin-top: 10px;
}
.cart_page-cart__p1pfc .cart_nav__OYb9y {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px;
}
.cart_page-cart__p1pfc .cart_nav__OYb9y li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}
.cart_page-cart__p1pfc .cart_nav__OYb9y li:first-child::after {
  content: "\f054"; /* Mã unicode cho icon */
  font-family: "Font Awesome 5 Free"; /* Đảm bảo font được nhập */
  font-weight: 900; /* Font-weight nếu cần */
  display: inline-block; /* Hiển thị như inline-block */
  margin-left: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #3bb77e;
  /* Khoảng cách với text chính */
}
.cart_page-cart__p1pfc .cart_nav__OYb9y li:first-child .cart_item__bX0F1 {
  text-decoration: none;
  color: #3bb77e;
  font-size: 16px;
  font-weight: 600;
}
.cart_page-cart__p1pfc .cart_nav__OYb9y li .cart_icon__m5JrA {
  color: #3bb77e;
  font-size: 24px;
}
.cart_page-cart__p1pfc .cart_nav__OYb9y li .cart_item__bX0F1 {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
  background-color: #fff;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_title__0kvQz {
  font-size: 26px;
  font-weight: 600;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 30px;
  margin-top: 15px;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk {
  width: 875px;
  height: -moz-fit-content;
  height: fit-content;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk th {
  text-align: center;
  padding: 10px 0;
  font-weight: 500;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk th:first-child {
  text-align: start;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_product__1JkYo {
  display: flex;
  padding: 15px 0;
  align-items: center;
  gap: 25px;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_product__1JkYo .cart_container__HWEmv {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: black;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_product__1JkYo .cart_container__HWEmv input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_product__1JkYo .cart_checkmark__bGb8K {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_product__1JkYo .cart_container__HWEmv:hover input ~ .cart_checkmark__bGb8K {
  background-color: #ccc;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_product__1JkYo .cart_container__HWEmv input:checked ~ .cart_checkmark__bGb8K {
  background-color: #3bb77e;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_product__1JkYo .cart_checkmark__bGb8K:after {
  content: "";
  position: absolute;
  display: none;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_product__1JkYo .cart_container__HWEmv input:checked ~ .cart_checkmark__bGb8K:after {
  display: block;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_product__1JkYo .cart_container__HWEmv .cart_checkmark__bGb8K:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_product__1JkYo .cart_thumb__VL5Zm {
  width: 75px;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_product__1JkYo .cart_thumb__VL5Zm img {
  width: 100%;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_product__1JkYo .cart_info__lQQ_S {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_product__1JkYo .cart_info__lQQ_S .cart_name__A5ol1 {
  font-size: 18px;
  font-weight: 500;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_product__1JkYo .cart_info__lQQ_S .cart_unit__ApBbf {
  font-size: 14px;
  color: #9b9b9b;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_price__vOV0Q {
  font-size: 18px;
  font-weight: bold;
  color: #f8a800;
  text-align: center;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_box-quantity___Qdnl {
  display: flex;
  justify-content: center;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_box-quantity___Qdnl .cart_quantity__tKxi2 {
  width: 108px;
  height: 45px;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 6px;
  overflow: hidden;
  /* Xóa dấu mũi tên trên Firefox */
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_box-quantity___Qdnl .cart_quantity__tKxi2 input[type=number]::-webkit-inner-spin-button,
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_box-quantity___Qdnl .cart_quantity__tKxi2 input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_box-quantity___Qdnl .cart_quantity__tKxi2 input[type=number] {
  -moz-appearance: textfield;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_box-quantity___Qdnl .cart_quantity__tKxi2 input {
  width: 42px;
  height: 100%;
  border: transparent;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_box-quantity___Qdnl .cart_quantity__tKxi2 input:focus {
  outline: none;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_box-quantity___Qdnl .cart_quantity__tKxi2 button {
  background-color: transparent;
  color: #333;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_delete__Cc1Hh {
  padding-left: 30px;
  cursor: pointer;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_list-product__jdOsk .cart_delete__Cc1Hh .cart_icon-trash__mdXpE {
  font-size: 20px;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 15px;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_box-discount__WPDIS {
  width: 100%;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_box-discount__WPDIS .cart_title__0kvQz {
  font-size: 17px;
  font-weight: 600;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_box-discount__WPDIS .cart_discount___JIKp {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: 6px;
  width: 100%;
  height: 41px;
  overflow: hidden;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_box-discount__WPDIS .cart_discount___JIKp button {
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  background-color: #3bb77e;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_box-discount__WPDIS .cart_discount___JIKp input {
  flex: 1;
  border: none;
  outline: none;
  border: 2px solid #dbdbdb;
  border-right: none;
  border-radius: 6px 0 0 6px;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_box-discount__WPDIS .cart_discount___JIKp input:focus {
  border: 2px solid #3bb77e;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_detail-total__iNfUT {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  height: 260px;
  border: 1px solid rgba(0, 0, 0, 0.13);
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_detail-total__iNfUT .cart_title-total__caenF {
  font-size: 18px;
  font-weight: 500;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_detail-total__iNfUT .cart_provisional__fog5_ {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_detail-total__iNfUT .cart_provisional__fog5_ span {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  color: #686868;
  display: block;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_detail-total__iNfUT .cart_provisional__fog5_ .cart_total-provisional__EGHKU {
  font-size: 18px;
  font-weight: 500;
  color: #f8a800;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_detail-total__iNfUT .cart_ship__jHfnT {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_detail-total__iNfUT .cart_ship__jHfnT span {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  color: #686868;
  display: block;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_detail-total__iNfUT .cart_ship__jHfnT .cart_ship-detail__7chED {
  font-size: 14px;
  font-weight: 500;
  color: #7d7d7d;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_detail-total__iNfUT .cart_discount___JIKp {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_detail-total__iNfUT .cart_discount___JIKp span {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  color: #686868;
  display: block;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_detail-total__iNfUT .cart_discount___JIKp .cart_total-discount__gHarK {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_detail-total__iNfUT .cart_warning__EHxHb {
  margin-top: 15px;
  font-size: 14px;
  color: #999999;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_detail-total__iNfUT .cart_main-total__cDSpp {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_detail-total__iNfUT .cart_main-total__cDSpp span {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  color: #686868;
  display: block;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_detail-total__iNfUT .cart_main-total__cDSpp .cart_main-total__cDSpp {
  font-size: 18px;
  font-weight: 600;
  color: #f8a800;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_content__eXZav .cart_total__Nnkiv .cart_buynow__bU_xO {
  width: 100%;
  height: 51px;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #3bb77e;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_empty-cart__dKLPg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: #b6b6b6;
  font-size: 20px;
  gap: 15px;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_empty-cart__dKLPg .cart_icon-cart-empty__6IOrt {
  width: 161px;
  height: auto;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_empty-cart__dKLPg p {
  font-size: 16px;
}
.cart_page-cart__p1pfc .cart_cart-content__tVNVn .cart_empty-cart__dKLPg button {
  width: 165px;
  padding: 7px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #3bb77e;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}
